h2 {color: yellow;}
.mot {color: #6118c0;;}
.sao {color: bisque;}
.ba {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 1em;
}
div {
    background-color: azure;
}